<header>
  <nav>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      {{#unless logged_in}}
      <li><a href="/login">Login</a></li>
      {{/unless}}
      {{#if logged_in}}
      <li id="logout"><a href="">Logout</a></li>
      {{/if}}
    </ul>
  </nav>

  <h1 class="blog-title">The Tech Blog</h1>

</header>