<div class="login-div">
    <form class="form login-form">
        <div id="login-header">Login</div>
        <label class="login-label" for="username">Username</label>
        <input type="text" name="username" id="username-login">
        <label class="login-label" for="password">Password</label>
        <input type="password" name='password' id="password-login">
        <div class="form-group login-signup">
            <button class="btn btn-primary login-btn" type="submit">Login</button>
            <a href="" class="sign-up-link" id="link-color">Sign up instead</a>
        </div>

    </form>
</div>

<div class="signup-div hidden">
    <form class="form signup-form">
        <div id="login-header">Sign Up</div>
        <label class="login-label" for="username">Username</label>
        <input type="text" name="username" id="username-signup">
        <label class="login-label" for="password">Password</label>
        <input type="password" name='password' id="password-signup">
        <div class="form-group login-signup">
            <button class="btn btn-primary login-btn" type="submit">Sign Up</button>
            <a href="" id="link-color">Login instead</a>
        </div>
    </form>
</div>
<script src='/js/login.js'></script>
{{!--
<script src='/js/signup.js'></script> --}}