<div>
    {{!-- action tells the form where to save? --}}
    <form class="form login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username-login">
        <label for="password">Password</label>
        <input type="password" name='password' id="password-login">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>

<div>
    <form class="form signup-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username-signup">
        <label for="password">Password</label>
        <input type="password" name='password' id="password-signup">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>
<script src='/js/login.js'></script>
<script src='/js/signup.js'></script>