* {
    font-family: "Roboto", sans-serif;
    color: #533a7b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAF1F1;
}

/* NAV BAR STYLING */
header {
    background-color: #533a7b;
    padding: 0 7px 10px 7px;
    font-size: 15px;
}

#navbar {
    display: flex;
    list-style-type: none;
    justify-content: left;
    align-items: center;
    color: #EAF1F1;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 5px;
}

a,
a:visited {
    text-decoration: none;
    color: #EAF1F1;
}

li {
    padding: 0 25px 0 25px;
}

.blog-title {
    background-color: #AECADA;
    width: 25vw;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 5px 5px #EAF1F1;
    margin: 25px;
}

/* LOGIN STYLING */
.login-div, .signup-div {
    display: flex;
    justify-content: center;
}

#link-color {
    color: #107575;
    padding-left: 5px;
    margin-bottom: 5px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 50vw;
    border: #533a7b solid 2px;
    margin-top: 25px;
}

.login-signup {
    display: flex;
    flex-direction: column;
}

.login-btn {
    margin: 15px 5px 5px 5px;
    padding: 5px;
}

input {
    height: 5vh;
    margin: 0 5px;
}

#login-header {
    background-color: #533a7b;
    color: #EAF1F1;
    padding: 5px;
    height: auto;
}

/* BLOGPOST STYLING */
.blog-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.single-blog-post {
    background-color: #AECADA;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    width: 90vw;
}

.single-blog-header {
    display: flex;
    justify-content: space-between;
}

/* DASHBOARD STYLING */
.dashboard-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#new-post-btn {
    width: 20vw;
}

.new-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 90vw;
    border: #533a7b solid 2px;
    margin-top: 25px;
    padding: 5px;
}

#new-post-form,
#edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 88vw;
    margin: 15px 5px;
}

#update-btn, #delete-btn {
    height: 5vh;
    margin: 3px 0;
}

textarea {
    margin-top: -40px;
    resize: none;
}

#create-btn {
    height: 5vh;
}

#new-post-title {
    background-color: #533a7b;
    color: #EAF1F1;
    margin: -7px;
    padding: 10px 48px 10px 10px;
    width: 90vw;
}

.login-label {
    padding: 0 5px;
    margin: 5px;
}

#update-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}

#editpost-page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* SINGLE POST STYLING */
#single-post-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
}

/* COMMENT STYLING */
#comment-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 20vh;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#each-comment {
    display: flex;
    flex-direction: column;
    background-color: #AECADA;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    width: 90vw;
}

#submit {
    margin-top: -40px;
}

/* GENERAL */
.hidden {
    display: none;
}